

<div class="input-group mb-1 flex-fill w-100">
    <div class="input-group-prepend flex-fill w-25">
        <span class="input-group-text rounded-0 rounded-bottom-left-1 rounded-top-left-1 flex-fill">Upload</span>
    </div>
    <div class="custom-file flex-fill w-75">
        <input type="file" accept="image/*" class="custom-file-input" (change)="uploadPhoto($event)">
        <label class="custom-file-label rounded-0 rounded-bottom-right-1 rounded-top-right-1" for="inputGroupFile01">Choose file</label>
    </div>
</div>

<div class="container" *ngIf="tmpImage !== null">
    <div class="row mb-1">
        <div class="col-12 w-100">
            <div class="input-group w-100">
                <button type="button" class="btn btn-danger w-50 rounded-0 rounded-top-left-1 rounded-bottom-left-1" (click)="deletePhoto()">Delete</button>
                <button type="button" class="btn btn-success w-50 rounded-0 rounded-top-right-1 rounded-bottom-right-1" (click)="sendPhoto()">Send</button>
            </div>
        </div>
    </div>
    <div class="row mb-1">
        <div class="col-12 w-100">
            <img  
            class="img-fluid w-100"
            src="{{tmpImage}}"
            alt="tmpImage"
            >
        </div>
    </div>
</div>
