.rounded-top-left-1 {
    border-top-left-radius: 0.5rem !important; 
}
.rounded-top-right-1 {
    border-top-right-radius: 0.5rem !important;
}
.rounded-bottom-left-1 {
    border-bottom-left-radius: 0.5rem !important;
}
.rounded-bottom-right-1 {
    border-bottom-right-radius: 0.5rem !important;
}